.searchBy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  background-color: #F2D0A9;
  text-align: center;

  h1 {
    margin-top: 40px;
    margin-right: 10px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #F2D0A9;

    a {
      color: black;
      text-decoration: none;
      padding: 0 10px;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}