.searchBy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 800px;
  background-color: #F2D0A9;
  border: 4px salmon solid;
  position: static;

  h1 {
    margin-top: 40px;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F2D0A9;

    a {
      color: black;
      text-decoration: none;
      padding: 0 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}