.page{
  display: flex;
  .filmList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 190%;
  }
}
.watched{
  background-color: rgb(190, 214, 154);
  margin: 0;
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Noto Sans JP', sans-serif;
}