$base-spacing: 5px;
$primary-color: rgb(70, 50, 111);
$secondary-color: rgb(236, 69, 102);
$primary-border: solid 2px $primary-color;
$secondary-border: solid 2px $secondary-color;
$card-shadowing: 0 4px 7px rgba(0, 0, 0, 0.2),
0 4px 7px rgba(0, 0, 0, 0.27);

.cardBack {
  height: 300px;
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2), 0 4px 7px rgba(0, 0, 0, 0.27);
  border: solid 2px #00ADEF;
  backface-visibility: hidden;
  background-color: white;
  margin: 20px;

  img {
    height: 150px;
    width: 100%;
    border-radius: 2px 2px 0 0;
  }

  .back {
    padding: 0 10px;
    margin: 0;
    height: 100%;

    h2 {
      font-size: 1em;
      margin-top: 10px;
    }

    h3 {
      font-size: 0.8em;
    }

    p {
      font-size: 0.7em;
    }
  }

  &:hover{
    cursor: pointer;
  }
}